.home-col1{
	margin-left: 100px;
	width: 400px;
	height: 225px;
	float:left;

}
.home-col1 h2{
	
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	border-radius: 10px;
	background-color:transparent;
	color :rgba(252,183,80);

}
.home-col1 p{
	color: #eee;
	
	float:right;
	margin-top:60px;
	margin-bottom: 100px;
}
.home-col1 img{
	width: 225px;
	height: 225px;
	border-style: solid;
}
.home-col1 button{
	
	margin-top:165px;
	font-weight: bold;
	padding:20px;
	border-style: none;
	background-color: transparent;
	border-radius: 10px;
}
.home-col1 button a{
	color: #fff;
}
.home-col1 button a:hover{
color:#1d18c4;
}
/*ecar1*/
.home-col2{
	margin-left: 100px;
	width: 400px;
	height: 225px;
	float:left;
	margin-top: 60px;

}
.home-col2 h2{
	
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	border-radius: 10px;
	background-color:transparent;
	color:rgba(252,183,80);

}
.home-col2 p{
	color: #eee;
	
	float:right;
	margin-top:60px;
	margin-bottom: 100px;
}
.home-col2 img{
	width: 225px;
	height: 225px;
	border-style: solid;
}
.home-col2 button{
	margin-top:165px;
	font-weight: bold;
	padding:20px;
	border-style: none;
	background-color: transparent;
	border-radius: 10px;
}
.home-col2 button a{
	color: #fff;
}
.home-col2 button a:hover{
color:#1d18c4;
}
/*ecar2*/
.home-col3{
	margin-left: 100px;
	width: 400px;
	height: 225px;
	float:left;
	margin-top: 60px;

}
.home-col3 h2{
	
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	border-radius: 10px;
	background-color:transparent;
	color:rgba(252,183,80);

}
.home-col3 p{
	color: #eee;
	
	float:right;
	margin-top:60px;
	margin-bottom: 100px;
}
.home-col3 img{
	width: 225px;
	height: 225px;
	border-style: solid;
}
.home-col3 button{
	margin-top:165px;
	font-weight: bold;
	padding:20px;
	border-style: none;
	background-color: transparent;
	border-radius: 10px;
}
.home-col3 button a{
	color: #fff;
}
.home-col3 button a:hover{
color:#1d18c4;
}
/*ecar3*/
.home-col4{
	margin-left: 100px;
	width: 400px;
	height: 225px;
	float:left;
	margin-top: 60px;

}
.home-col4 h2{
	
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	border-radius: 10px;
	background-color:transparent;
	color:rgba(252,183,80);

}
.home-col4 p{
	color: #eee;
	
	float:right;
	margin-top:60px;
	margin-bottom: 100px;
	margin-left: 1px;
}
.home-col4 img{
	width: 225px;
	height: 225px;
	border-style: solid;
}
.home-col4 button{
	margin-top:165px;
	font-weight: bold;
	padding:20px;
	border-style: none;
	background-color: transparent;
	border-radius: 10px;
}
.home-col4 button a{
	color: #fff;
}
.home-col4 button a:hover{
color:#1d18c4;
}
/*ecar4*/
.home-col5{
	margin-left: 100px;
	width: 400px;
	height: 225px;
	float:left;
	margin-top: 60px;

}
.home-col5 h2{
	
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	border-radius: 10px;
	background-color:transparent;
	color:rgba(252,183,80);

}
.home-col5 p{
	color: #eee;
	
	float:right;
	margin-top:60px;
	margin-bottom: 100px;
	margin-left: 1px;
}
.home-col5 img{
	width: 225px;
	height: 225px;
	border-style: solid;
}
.home-col5 button{
	margin-top:165px;
	font-weight: bold;
	padding:20px;
	border-style: none;
	background-color: transparent;
	border-radius: 10px;
}
.home-col5 button a{
	color: #fff;
}
.home-col5 button a:hover{
color:#1d18c4;
}
/*ecar5*/
